{{#with car}}
    <h1>{{name}}</h1>
    <img class="details" src="/static/assets/{{imageUrl}}" alt="No content">
    <div class="details">
        <p><span>Description:</span> {{description}}</p>
        <p><span>Price:</span> {{price}}</p>
        <div class="btn-wrapper">
            <a class="btn-dtl" href="/">Back</a>
            {{#if isOwner}}
                <a class="btn-dtl" href="/edit/{{_id}}">Edit</a>
                <a class="btn-dtl" href="/delete/{{_id}}">Delete</a>
            {{/if}}
        </div>
    </div>
{{/with}}
